/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 26, 2014, 12:19:30 AM
    Author     : QUOCDAT_HT
*/

.col-md-3{
    width: 250px;
    height: 200px;
}
#title{
    color: #F00;
}
.product{
   float: left;
  height: 200px;
  width: 200px;
  margin: 20px;
  text-align: center;
}
#name{
    color: #F00;
    font-family:"Lucida Handwriting";
}
.pic {
  
  float: left;
  height: 180px;
  width: 180px;
  margin: 20px;
  overflow: hidden;
}
.grow img {
  height: 150px;
  width: 150px;
  
  -webkit-transition: all 1s ease;
     -moz-transition: all 1s ease;
       -o-transition: all 1s ease;
      -ms-transition: all 1s ease;
          transition: all 1s ease;
}
  
.grow img:hover {
  width: 180px;
  height: 180px;
}

