/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 2, 2014, 1:43:46 AM
    Author     : QUOCDAT_HT
*/

body{
    background:url(../img/bg_blog.png);
}
.header{
    background:#484848;
    height: 70px;
	background-color: #484848;
  background-color: rgba(85, 85, 85, 0.5);
  border: 1px solid #636363;
  border-top: none;
  -moz-border-radius-bottomright: 0px!important;
  -moz-border-radius-bottomleft: 0px!important;
  -webkit-border-bottom-right-radius: 0px!important;
  -webkit-border-bottom-left-radius: 0px!important;
  border-bottom-right-radius: 0px!important;
  border-bottom-left-radius: 0px!important;
  list-style: none;
  position: fixed!important;
  top: 0px;
  right: 0px!important;
  -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.6);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.6);
  width: 100%!important;
  z-index: 999;
}
 .menu{		
     height: 60px;
        }
        .menu ul li {
             height: 60px;
        }
         .menu ul li a{
             margin-left: 35px;
             margin-top: 8px;
            text-align: center;
            color: #ffffff;
            font-size: 21px;
            font-family:"Lucida Handwriting";
         }
         .menu ul li a:hover {
             color: #F00;
			 background:#000;
            
         }
         .head-content{
             height: 400px;
             background: #ffffff;
         }
         .content{
             
         }
		.navigator{
		 margin-top: 300px;
         margin-left: 400px;
          
	}
	
       .navigator ul li a{
		clear:both;
		color:#fff;
		font-family:"Lucida Handwriting";
		position:absolute;
		text-decoration:none;
		 color:#FFF;
                 font-size: 35px;
                 text-decoration-line: none;
	}
	.navigator ul li a:hover{
		color:#F00;
                background:#636363;
	}
        .slide{
            height: 100px;
        }
        .blog{
           
           
        }
         .title{
            font-size: 21px;
            font-family:"Lucida Handwriting";
            color: #101010;
            height: 30px;
            background: #636363;
        }
        #left_tit{
            width:180px;
            background:url(../img/tit.png);
        }
         .footer{
	     border-top:3px solid #FFF;
             color: #ffffff;
             background:#484848;
             height: 70px;
         }